// font styles
$Roboto: "Roboto", sans-serif;
$DM-sans: "DM Sans", sans-serif;
// font sizes
$font-18: 18px;
$font-14: 14px;
$font-12: 12px;
$font-16: 16px;
// color
$color-1: #ffffff;
$color-2: #fafafa;
$color-3: #2148b1;
$color-4: #4169d5;
$color-5: #000000;
$color-6: #8e9094;
$color-7: #ff5127;
$color-8: #020812;
$color-9: #3a3f46;
$color-10: #676a70;
$color-11: #21272f;
$color-12: #6d7788;
$color-13: #57a4fc;
$color-14: #ebebec;
$color-15: #3b4960;
$color-16: #c7c8ca;
$color-17: #8898b2;
$color-18: #d3dfff;
$color-19: #edf1fd;
$color-20: #f4f8ff;
$color-21: #94a8d1;
$color-22: #f7f9fd;
$color-23: #adb8d8;
$color-24: #8e9094;
